.descr {
  margin-bottom: 8px;
  font-size: 25px;
  color: #333;
  display: block;
}

.input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  color: #333;
}

.input:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 2px rgba(150, 150, 150, 0.2);
}
